// Import Bulma's core
@import "~bulma/sass/utilities/_all";
$primary: #788921;
$primary-invert: findColorInvert($primary);

$colors: (
  "primary": ($primary, $primary-invert)
);

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";

.buttons-category {
  margin-top: 10px;
}

.frelanceua-logo {
  width: 160px;
  height: 60px;
}

.parse-btn {
  margin-top: 2rem;
}